/packages
/TestResults
/TrumguSignalR/bin/Debug
/TrumguSignalR/obj/Debug
/TrumguSignalR.Cache/bin/Debug
/TrumguSignalR.Cache/obj/Debug
/TrumguSignalR.Cache.Redis/bin/Debug
/TrumguSignalR.Cache.Redis/obj/Debug
/TrumguSignalR.Log/bin/Debug
/TrumguSignalR.Log/obj/Debug
/TrumguSignalR.Model/bin/Debug
/TrumguSignalR.Model/obj/Debug
/TrumguSignalR.MongoDB/bin/Debug
/TrumguSignalR.MongoDB/obj/Debug
/TrumguSignalR.MongoDBTests/bin/Debug
/TrumguSignalR.MongoDBTests/obj/Debug
/TrumguSignalR.MySql.DAL/bin/Debug
/TrumguSignalR.MySql.DAL/obj/Debug
/TrumguSignalR.MySql.IDAL/bin/Debug
/TrumguSignalR.MySql.IDAL/obj/Debug
/TrumguSignalR.Service/bin/Debug
/TrumguSignalR.Service/obj/Debug
/TrumguSignalR.Util/bin/Debug
/TrumguSignalR.Util/obj/Debug
