<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ConStringRedis" value="192.168.1.134:6379,defaultDatabase=1,connectTimeout=15000,responseTimeout=15000,syncTimeout=5000 "/>
  <!-- SignalR服务接口-->
  <add key="SignalRUrl" value="http://192.168.1.23:9011"/>
  <!-- MongoDB数据库-->
  <add key="MongoDBConStringEncrypt" value="mongodb://192.168.1.123:27017"/>
  <!-- <add key="MongoDBConStringEncrypt" value="mongodb://47.92.242.212:27017"/> -->
  <!-- MySql数据库连接字符串-->
  <add key="ConStringMySQL" value="Data Source=192.168.1.123;port=3306;Database=yyb;User Id=root;Password=chuanbao.2018;Allow User Variables=True;Convert Zero Datetime=true;SslMode=None"/>
  <!-- <add key="ConStringMySQL" value="Data Source=localhost;port=3306;Database=fund;User Id=root;Password=tfc063318;Allow User Variables=True;Convert Zero Datetime=true;SslMode=None"/> -->
  <!-- 更新股票变动价格时间-->
  <add key="UpdateSignalTime" value="5000"/>
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="tanfuchao1@163.com" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="tfc063318"/>
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.163.com" />

  <add key="RangeCron" value="0/3 * 9-15 * * ? *"/>
  <add key="PortfolioCron" value="0/3 * 9-15 * * ? *"/>
  <add key="PopCron" value="0/30 * 9-15 * * ? *"/>
  <add key="WxPopCron" value="0/30 * 9-15 * * ? *"/>

  <!--****** RabbitMQ服务 ******-->
  <!-- <add key="RabbitHostName" value="192.168.1.130"/> -->
  <!-- <add key="RabbitUserName" value="trumgu"/> -->
  <!-- <add key="RabbitPassword" value="trumgu2019"/> -->
  <!-- <add key="RabbitVirtualHost" value="/trumgu"/> -->
  <!-- <add key="RabbitPort" value="5672"/> -->

  <add key="RabbitHostName" value="127.0.0.1"/>
  <add key="RabbitUserName" value="guest"/>
  <add key="RabbitPassword" value="guest"/>
  <add key="RabbitVirtualHost" value="/"/>
  <add key="RabbitPort" value="5672"/>

</appSettings>